<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DayStar Admin Dashboard</title>
  <link rel="stylesheet" href="../public/css/admindashboard.css">
</head>
<body>
  <header>
    <h1>DayStar Admin Dashboard</h1>
  <main>
    <div class="card">
      <a href="sittersmanagement2.html">
        <img src="../public/images/sitter.png" alt="Sitters">
        <h3>Sitters Management Page</h3>
      </a>
    </div>
    <div class="card">
      <a href="babiesmanagement.html">
        <img src="../public/images/babies2.png" alt="Babies">
        <h3 class="janet">Babies Management Page</h3>
      </a>
    </div>
    <div class="card">
      <a href="paymentsmanagement.html">
        <img src="../public/images/payments.png" alt="Payments">
        <h3>Payments Management Page</h3>
      </a>
    </div>
    <div class="card">
      <a href="procurementsmanagement.html">
        <img src="../public/images/procurements.png" alt="Procurement">
        <h3>Procurement Management Page</h3>
      </a>
    </div>
  </main>
  <footer>
    <p>&copy; 2024 DayStar Daycare Facility</p>
  </footer>
</body>
</html>
