<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header">
      <a href="#home" class="logo"> Daystar <span>Daycare</span> </a>
      <i class="fa-solid fa-bars" id="menu-icon"></i>
      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
      </nav>
    </header>
    <section class="home" id="home">
      <div class="home-content">
        <h2>
          Welcome to DayStar:<span>
            Your Management Hub! <i class="fa-regular fa-star"></i
          ></span>
        </h2>
        <h3 class="text-animation"><span></span></h3>
        <p>We provide exceptional childcare services for your little ones.</p>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
        <div class="btn-group">
          <a href="login.html" class="btn">Get Started</a>
        </div>
      </div>
      <div class="home-img">
        <img src="../public/images/logo2.png" alt="Placeholder Image" />
      </div>
    </section>
    <section class="about" id="about">
      <h2 class="heading">About</h2>
      <div class="about-container">
        <div class="about-box">
          <div class="about-info">
            <h4>MISSION</h4>
            <p>
              At Daystar Daycare, our mission is to provide a safe, nurturing,
              and enriching environment where children can learn, grow, and
              thrive. We are dedicated to fostering their holistic development
              by offering innovative programs and personalized care that meets
              the diverse needs of each child and family we serve.
            </p>
          </div>
        </div>
        <div class="about-box">
          <div class="about-info">
            <h4>VISION</h4>
            <p>
              Our vision at Daystar Daycare is to be recognized as a leading
              provider of high-quality early childhood education and childcare
              services. We aspire to create a community where every child feels
              valued, empowered, and inspired to reach their full potential,
              laying a strong foundation for lifelong learning and success.
            </p>
          </div>
        </div>
        <div class="about-box">
          <div class="about-info">
            <h4>CORE VALUES</h4>
            <p>
              <ul>
              <li> Excellence</li>
              <li> Child-Centric Approach</li>
              <li>Safety and Security</li>
              <li> Continuous Improvement</li>
            </ul>
            </p>
          </div>
        </div>
        <div class="about-box">
          <div class="about-info">
            <h4>Regarding</h4>
            <p>
             Daystar Daycare is a trusted early childhood education and childcare center located in the heart of [Your City/Area]. Since [Year of Establishment], we have been dedicated to providing exceptional care and education for children aged [X months to X years], offering a range of programs tailored to meet the developmental needs of infants, toddlers, preschoolers, and pre-kindergarten children.
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="social">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
      <p class="copyright">Aballo Happy Janet | All Rights Reserved</p>
    </footer>
  </body>
</html>
