<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Baby Registration Form</title>
<link rel="stylesheet" href="../public/css/register_baby.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="#" onclick="logout()">Logout</a></li>
              <li><a href="procurementsmanagement.html">Procurement</a></li>
              <li><a href="paymentsmanagement.html">Payments</a></li>
              <li><a href="babiesmanagement.html">Babies</a></li>
              <li><a href="sittersmanagement2.html">Sitters</a></li>
              <li><a href="index.html">Home</a></li>
      
            </ul>
          </nav>
    </header>
<div class="container">
    <h2>Baby Registration Form</h2>
    <form id="babyForm" action="/registerbaby" method="POST">
        <label for="babyName">Baby's Name:</label>
        <input type="text" id="babyName" name="babyName">

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" >
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
        
        <label for="age">Age (in months):</label>
        <input type="number" id="age" name="age" >

        <label for="location">Location:</label>
        <input type="text" id="location" name="location">

        <label for="timeOfArrival">Time of Arrival:</label>
        <input type="time" id="timeOfArrival" name="timeOfArrival">

        <label for="parentsName">Parent's Name:</label>
        <input type="text" id="parentsName" name="parentsName">

        <label for="amount">Amount in Shillings:</label>
        <input type="number" id="amount" name="amount">

        <label for="periodOfStay">Period of Stay:</label>
        <input type="text" id="periodOfStay" name="periodOfStay">

        <label for="babyNumber">Baby Number:</label>
        <input type="number" id="babyNumber" name="babyNumber">

        <!-- <input type="submit" value="Register"> -->
        <button type="submit">Register</button> 

    </form>
</div>
</body>
</html>
