doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Baby Registration Form
  link(rel='stylesheet' href='/css/register_baby.css')
.container
  h2 Baby Registration Form
  form#babyForm(action='/registerbaby' method='POST')
    label(for='babyName') Baby&apos;s Name:
    input#babyName(type='text' name='babyName')
    label(for='gender') Gender:
    select#gender(name='gender')
      option(value='') Select Gender
      option(value='male') Male
      option(value='female') Female
      option(value='other') Other
    label(for='age') Age (in months):
    input#age(type='number' name='age')
    label(for='location') Location:
    input#location(type='text' name='location')
    label(for='timeOfArrival') Time of Arrival:
    input#timeOfArrival(type='time' name='timeOfArrival')
    label(for='parentsName') Parent&apos;s Name:
    input#parentsName(type='text' name='parentsName')
    label(for='amount') Amount in Shillings:
    input#amount(type='number' name='amount')
    label(for='periodOfStay') Period of Stay:
    input#periodOfStay(type='text' name='periodOfStay')
    label(for='babyNumber') Baby Number:
    input#babyNumber(type='number' name='babyNumber')
    // <input type="submit" value="Register">
    button(type='submit') Register
