doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sitter Dashboard - Schedule
  link(rel='stylesheet' href='/css/sitterschedule.css')
header
  h1 Welcome, [Sitters Schedule]!
  nav
    ul
      li
        a(href='../views/sittersdashboard.html') Dashboard
      li
        a(href='../views/sittercheckin.html') Sittercheckin
      li
        a(href='#') Logout
main
  section.schedule-page
    h2 Schedule
    table
      thead
        tr
          th Sitter Name
          th Baby Name
          th Gender
          th Age
          th Time of Arrival
      tbody#schedule-table-body
        // Sitters and their assigned babies will be added here dynamically
footer
  p DayStar Daycare &copy; 2024
script(src='../public/js/sitterschedule.js')
