doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sitter Dashboard - Check-in
  link(rel='stylesheet' href='/css/sitterscheckin.css')
header
  h1 Welcome, [Sitters Checkin]!
  nav
    ul
      li
        a(href='../views/sittersdashboard.html') Dashboard
      li
        a(href='../views/sitterschedule.html') Schedule
      li
        a(href='#') Logout
main
  section.check-in
    h2 Check-in
    button#check-in-button Check-in
    p#check-in-message
footer
  p DayStar Daycare &copy; 2024
script(src='../public/js/sitterscheckin.js')
